h1 {color: #66CCFF;

}

.h {
    border-width: 1px;
    border-style: solid;
    border-color: red;

font-family: Impact, Charcoal, sans-serif;
}

body {
font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    line-height: 1.2em;
}

span {color: black;
font-weight: bold;
background-color: lightblue;

}
a {font-weight: bold;
    font-style: italic;
/*comment */

}
 p {background-color: rgba(0, 0, 0, 0.5);
 padding: 20px;
    
    border-width: 1px;
    border-style: solid;
    border-color: red;
 }

 p.red {
    font-size: 5px;
background-color:orange;
line-height: 20px;

 }
 .green {
     background-color:green;
     font-style: italic;
 }
 .blue {
     background-color:darkblue;

 }


 p.red a, p.green a {
     color: white;
 }

 
li.unseen.meh{
    color: grey;
}

a {
  text-decoration: none;
}
.green a:hover {
  text-decoration: underline;
  
}

.blue a:hover {
  text-decoration: none;
  
}

.seen.good { color:blue;}